.frame-41 .maruti-ritz {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22.8px;
  color: #000000;
}
.frame-41 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
